{#
  SPDX-FileCopyrightText: 2022 Union

  SPDX-License-Identifier: AGPL-3.0-or-later
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Union | Place where you can be yourself</title>
    <meta name="description" content="Union is a platform where you can find your labor of love, join a team, create something important or crazy; this is a place where you can be yourself.">

    <!-- manifest -->
    <link rel="manifest" href="/assets/manifest/manifest.json">
    <meta name="theme-color" content="#0DBC44"/>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />

    <!-- Stylesheets -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="apple-touch-icon" href="/assets/manifest/icon-192x192.png">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon" />
    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon" />
  </head>

  <body>
  {% block navbar %}
    <nav class="navbar navbar-expand-lg site-navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{nav.navLogo}}" alt="nav-logo" />
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#sitenavbar"
          aria-label="Menu"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="sitenavbar">
          <ul class="navbar-nav ml-auto main-nav">
            {% for navLink in nav.navLinks %}
            <li class="nav-item">
              {% if navLink == "home" %}
                <a class="nav-link" href="/">{{navLink | upper}}</a>
              {% elif navLink == "ui-library" %}
                <a target=”_blank” class="nav-link" href="https://ui.unionapp.cc/">{{navLink | upper}}</a>
              {% elif navLink == "github" %}
                <a target=”_blank” class="nav-link" href="https://github.com/union-platform">{{navLink | upper}}</a>
              {% else %}
                <a target=”_blank” class="nav-link" href="/{{navLink}}">{{navLink | upper}}</a> 
              {% endif %}
            </li>
            {% endfor %}
            <li class="nav-item">
              <a class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="{{nav.navBtnLink}}">
                <span class="btn-area">
                  <span data-text="{{nav.navBtnText}}">
                    {{nav.navBtnText}}
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}

  {% block content %}
    {{content | safe}}
  {% endblock %}

  {% block footer %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-footer-logo">
              <a href="/">
                <img class="site-footer-logo-svg" src="{{footer.footerLogo}}" alt="logo-footer">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="site-footer-widget">
              <h4 class="site-footer-widget-title">Contact Info</h4>
              <p class="site-footer-widget-description">
              {% for contactInfo in footer.contactsInfo %}
                <a href="{{contactInfo.link}}">{{contactInfo.text}}</a>
                <br>
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-widget">
              <h4 class="site-footer-widget-title">{{footer.siteMapHeading}}</h4>
              <ul class="site-footer-widget-links">
                {% for siteMap in footer.siteMap %}
                 <li>
                  <a href="/{{siteMap.link}}">{{siteMap.text}}</a>
                 </li> 
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-widget">
              <h4 class="site-footer-widget-title">{{footer.socialHeading}}</h4>
              <ul class="site-footer-widget-links">
                {% for socialMedia in footer.socialMedia %}
                <li><a target=”_blank” href="/{{socialMedia.link}}">{{socialMedia.text}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}
    <!-- <script src="js/vendor.js"></script> -->
    <script src="/assets/vendor/jQuery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>

