/*
  SPDX-FileCopyrightText: 2022 Union

  SPDX-License-Identifier: AGPL-3.0-or-later
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Source+Code+Pro:wght@200;300&display=swap');

body {
  font-family: "Source Code Pro", sans-serif;
  font-size: 16px;
  color: #f9f9f9;

  --dark-green: #0DBC44;
  --dark-green-accessible: #0FD24C;
  --dark: hsla(0, 0%, 13%, 1);
  --transparent-green: hsla(139, 87%, 39%, 0.08);
}

.homepage-hero-blob {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: 800px;
  bottom: 0;
  left: -100px;
  z-index: 9998;
  background: linear-gradient(119.61deg, #05BB44 36.02%, #76CD3F 52.39%, #C2D93B 63.98%);
  background-size: 200% 200%;

  -webkit-animation: Animation 3s ease infinite;
  -moz-animation: Animation 3s ease infinite;
  animation: Animation 3s ease infinite;
}

@media (max-width: 991px) {
  .homepage-hero-blob {
    max-width: 300px;
    height: 300px;
  }
}

.big-zindex {
  z-index: 9999;
}

@-webkit-keyframes Animation {
  0%{
    background-position:10% 0%;
    transform: translatey(0px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50%{
    background-position:91% 100%;
    transform: translatey(-100px);
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75%{
    background-position:91% 100%;
    transform: translatey(-140px);
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  100%{
    background-position:10% 0%;
    transform: translatey(0px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
@-moz-keyframes Animation {
  0%{
    background-position:10% 0%;
    transform: translatey(0px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50%{
    background-position:91% 100%;
    transform: translatey(-100px);
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75%{
    background-position:91% 100%;
    transform: translatey(-140px);
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  100%{
    background-position:10% 0%;
    transform: translatey(0px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
@keyframes Animation {
  0%{
    background-position:10% 0%;
    transform: translatey(0px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50%{
    background-position:91% 100%;
    transform: translatey(-100px);
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75%{
    background-position:91% 100%;
    transform: translatey(-140px);
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  100%{
    background-position:10% 0%;
    transform: translatey(0px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

.hero-special-word {
  border-bottom: 1px solid transparent;
  padding-bottom: .25em;
  text-decoration: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23212121' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .03em;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #00113E;
}

p {
  font-size: 16px;
  color: #6F6F7B;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
  font-weight: 300;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

.btn {
  font-family: "Source Code Pro";
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  height: 42px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.btn:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  .btn {
    padding: 17px 40px;
  }
}
.btn .btn-area {
  display: block;
  overflow: hidden;
}
.btn .btn-area span {
  position: relative;
  display: block;
  padding: 2px 0;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left center;
}
.btn .btn-area span::after {
  content: attr(data-text);
  position: absolute;
  top: 150%;
  left: 0;
  transform: skewY(30deg);
  transform-origin: left center;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover .btn-area span {
  transform: translateY(-150%) skewY(7deg);
}
.btn:hover .btn-area span::after {
  transform: skewY(-7deg);
}
.btn:visited .btn-area span {
  transform: translateY(-150%) skewY(7deg);
}
.btn:visited .btn-area span::after {
  transform: skewY(-7deg);
}

.btn-sm-rounded {
  border-radius: 5px;
  color: #fff;
  padding: 0px;
  height: 36px;
}

.btn-primary {
  background: var(--dark-green-accessible);
  color: #000 !important;
}
.btn-primary:hover {
  background: #e07b7b;
}

.btn-secondary {
  background: var(--transparent-green);
  color: var(--dark);
}
.btn-secondary:hover {
  background: #8bc5bf;
}

body {
  background: #f9f9f9;
}

.section-title {
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  .section-title {
    text-align: center;
  }
}
.section-title h2 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .section-title h2 {
    font-size: 40px;
  }
}
.section-title p {
  font-size: 20px;
  font-weight: 300;
}

.form-control {
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 1px 0;
  border-color: var(--dark-green);
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;
}
.form-control:focus {
  box-shadow: none;
  background: transparent;
  border-color: #9D9EA5;
}

select.form-control {
  height: 42px !important;
  position: relative;
}

.select-wrapper {
  position: relative;
}
.select-wrapper::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background: url("../images/angle-down-select.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: 15px;
  top: 50%;
  transform: translateY(-80%);
}

textarea.form-control {
  height: auto;
}

.site-navigation {
  padding: 20px 0;
  background: #f9f9f9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
@media (max-width: 991px) {
  .site-navigation {
    background: #f9f9f9;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }
  .site-navigation .navbar-brand img {
    max-width: 85px;
    margin-bottom: 8px;
  }
}
@media (max-width: 575px) {
  .site-navigation {
    padding: 15px;
  }
}
.site-navigation .navbar-brand {
  padding: 0;
  margin: 0;
}
.site-navigation .navbar-brand img {
  max-width: 100px;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .site-navigation .nav-item {
    text-align: center;
  }
}

.nav-item {
  align-items: center;
  display: flex;
}

.site-navigation .nav-item .nav-link {
  font-family: "Source Code Pro";
  color: var(--dark);
  transition: all 0.3s ease;
  padding: 20px 18px;
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-navigation .nav-item .nav-link:hover {
  color: var(--dark-green);
}
.site-navigation .nav-item:last-child {
  margin-left: 15px;
}
.site-navigation .navbar-toggler {
  outline: 0;
  padding: 0;
}
.site-navigation .navbar-toggler .icon-bar {
  height: 2px;
  width: 25px;
  transition: all 0.2s;
  background: var(--dark-green);
  display: block;
}
.site-navigation .navbar-toggler .icon-bar:not(:last-child) {
  margin-bottom: 5px;
}
.site-navigation .navbar-toggler .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.site-navigation .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.site-navigation .navbar-toggler .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.site-navigation .navbar-toggler.collapsed .icon-bar:nth-child(1) {
  transform: rotate(0);
}
.site-navigation .navbar-toggler.collapsed .icon-bar:nth-child(2) {
  opacity: 1;
  filter: alpha(opacity=1);
}
.site-navigation .navbar-toggler.collapsed .icon-bar:nth-child(3) {
  transform: rotate(0);
}
.site-navigation.nav-bg {
  padding: 12px 0;
  z-index: 10000;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
}
@media (max-width: 575px) {
  .site-navigation.nav-bg {
    padding: 15px;
  }
}

.site-hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .site-hero {
    height: auto;
    padding: 200px 0;
  }
}
@media (max-width: 575px) {
  .site-hero {
    padding: 150px 0;
  }
}
.site-hero-content p {
  margin-bottom: 42px;
  font-size: 30px;
  color: var(--dark);
}
@media (max-width: 991px) {
  .site-hero-content p {
    font-size: 18px;
  }
}

.site-hero-content-buttons {
  margin: 0;
  padding: 0;
}
.site-hero-content-buttons li {
  display: inline-block;
}
.site-hero-content-buttons li:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 575px) {
  .site-hero-content-buttons li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.site-hero-content-buttons li .btn {
  font-weight: 600;
}
.site-hero-scroll {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

.site-counter {
  padding: 85px 0;
  color: var(--dark);
  background: var(--transparent-green);
}
.site-counter .section-title {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .site-counter {
    padding: 50px 0;
  }
}
@media (max-width: 991px) {
  .site-counter-item {
    margin-bottom: 30px;
    text-align: center;
  }
}
.site-counter-item-title {
  font-size: 20px;
  font-weight: 300;
}
.site-counter-item-number {
  color: var(--dark);
  font-size: 60px;
  margin-bottom: 0;
  font-weight: 700;
}

.site-project, .site-blog {
  padding: 120px 0;
  overflow: hidden;
}
.site-project-item, .site-blog-post {
  margin-bottom: 30px;
  transition: all 0.3s ease-in;
}
@media (max-width: 767px) {
  .site-project, .site-blog {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .site-project-item, .site-blog-post {
    margin-bottom: 0;
  }
}

.site-project-item-thumb img, .site-blog-post-thumb img {
  max-width: 100%;
    max-height: 100%;
}

.site-project-item-thumb {
  height: 500px;
  width: 100%;
}

@media (max-width: 767px) {
  .site-project-item-thumb {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.site-project-item-content, .site-blog-post-content {
  width: 100%;
  padding: 45px 50px;
  padding-left: 0;
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
}
@media (max-width: 767px) {
  .site-project-item-content, .site-blog-post-content {
    padding: 30px;
  }
}
.site-project-item-content span, .site-blog-post-content span {
  font-family: "Source Code Pro";
  color: var(--dark);
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
.site-project-item-content h3, .site-blog-post-content h3 {
  margin-bottom: 0;
}
.site-project-item-content a.read-more, .site-blog-post-content a.read-more {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 100%;
  color: #9D9EA5;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
}
@media (max-width: 767px) {
  .site-project-item-content a.read-more, .site-blog-post-content a.read-more {
    transform: translateY(0);
    opacity: 1;
  }
}

.site-project-cta {
  margin-top: 30px;
  display: inline-block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-green);
}
.site-project-cta::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--dark-green);
  bottom: -2px;
  transition: transform 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
  transform-origin: right;
  transform: scaleX(0);
}
.site-project-cta:hover {
  color: var(--dark-green);
  text-decoration: none;
}
.site-project-cta:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.site-project-header {
  padding: 170px 0 100px;
  background: #F7F9FF;
}
@media (max-width: 767px) {
  .site-project-header {
    padding: 120px 0 80px;
  }
}
.site-project-header-content h1 {
  font-size: 55px;
}
.site-project-header-content h1 span {
  color: var(--dark-green);
}
@media (max-width: 767px) {
  .site-project-header-content h1 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .site-project-header-content {
    text-align: center;
    margin-bottom: 30px;
  }
}
.site-project-header-action {
  display: block;
  text-align: center;
}
.site-project-header-action span {
  display: block;
  font-size: 30px;
  font-weight: 300;
  color: #00113E;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .site-project-header-action span {
    font-size: 25px;
  }
}
.site-project-header-action img {
  width: 66px;
}
@media (max-width: 767px) {
  .site-project-header-action img {
    width: 40px;
  }
}
.site-project-header-action:hover {
  text-decoration: none;
}
.site-project-pagination, .site-blog-pagination {
  margin-top: 40px;
}
.site-project-pagination .pagination .page-item:not(:last-child), .site-blog-pagination .pagination .page-item:not(:last-child) {
  margin-right: 10px;
}
.site-project-pagination .pagination .page-item .page-link, .site-blog-pagination .pagination .page-item .page-link {
  font-size: 24px;
  border-radius: 0;
  border: none;
  padding: 12px 20px;
  color: #00113E;
  font-weight: 300;
  transition: all 0.3s ease;
}
.site-project-pagination .pagination .page-item.active .page-link, .site-blog-pagination .pagination .page-item.active .page-link {
  background-color: var(--dark-green);
  color: #fff;
}
.site-project-single-section {
  padding: 250px 0 100px;
}
@media (max-width: 767px) {
  .site-project-single-section {
    padding: 100px 0;
  }
}
.site-project-single h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.site-project-single-image {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.site-project-single-image img {
  width: 48%;
}
.site-project-single-image img:nth-child(2n) {
  margin-left: auto;
}
@media (max-width: 767px) {
  .site-project-single-image img {
    width: 100%;
  }
}
.site-project-single-description {
  margin-bottom: 50px;
}
.site-project-single-description p {
  margin-bottom: 30px;
}
.site-project-single-action a {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  color: #00113E;
  display: flex;
  /* margin-left: auto; */
  /* justify-content: flex-end; */
}
@media (max-width: 575px) {
  .site-project-single-action a {
    transform: translateX(-10px);
  }
}
.site-project-single-action a .link-area {
  display: inline-block;
  overflow: hidden;
}
.site-project-single-action a .link-area span {
  position: relative;
  display: block;
  padding: 2px 0;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left center;
}
.site-project-single-action a .link-area span::after {
  content: attr(data-text);
  position: absolute;
  top: 150%;
  left: 0;
  transform: skewY(30deg);
  transform-origin: left center;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}
.site-project-single-action a:hover {
  text-decoration: none;
}
.site-project-single-action a:hover .link-area span {
  transform: translateY(-150%) skewY(7deg);
}
.site-project-single-action a:hover .link-area span::after {
  transform: skewY(-7deg);
}
.site-project-single-action img {
  filter: invert(1);
  transform: rotate(90deg);
  margin-left: 30px;
}
.site-project-single-action .rev{
  filter: invert(1);
  transform: rotate(-90deg);
  margin: 0 30px 0 0;
}

@media (max-width: 575px) {
  .site-blog {
    padding: 70px 0;
  }
}
.site-blog.details {
  padding: 150px 0 80px;
}
@media (max-width: 767px) {
  .site-blog.details {
    padding: 100px 0 60px;
  }
}
.site-blog-header {
  padding: 150px 0 0;
}
@media (max-width: 575px) {
  .site-blog-header {
    padding: 100px 0 0;
  }
}
.site-blog-header h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .site-blog-header h1 {
    font-size: 35px;
  }
}
.site-blog-header p {
  line-height: 28px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .site-blog-post-content {
    padding: 15px 25px 40px;
  }
}
.site-blog-post-content span {
  letter-spacing: 1px;
}
.site-blog-post-content h3 {
  margin-bottom: 15px;
}
.site-blog-post-content h3 a {
  letter-spacing: 0;
  color: #00113E;
  transition: 0.3s ease;
}
.site-blog-post-content h3 a:hover {
  color: var(--dark-green);
  text-decoration: none;
}
@media (max-width: 575px) {
  .site-blog-post-content h3 {
    font-size: 20px;
  }
}
.site-blog-post-content a {
  color: var(--dark-green);
  letter-spacing: 2px;
}
@media (max-width: 575px) {
  .site-blog-post-content a {
    transform: translateY(22px);
  }
}
.site-blog-details img {
  max-width: 100%;
  margin-bottom: 20px;
}
.site-blog-details .blog-title {
  font-size: 40px;
}
.site-blog-details .feature-image {
  margin: 20px 0 30px;
}
.site-blog-details h2, .site-blog-details h3, .site-blog-details h4, .site-blog-details h5, .site-blog-details h6 {
  margin-bottom: 15px;
}
.site-blog-details blockquote p{
  color: #00113E;
  font-size: 18px;
}
.site-blog-details cite {
  margin-top: 10px;
  display: block;
}

.site-testimonial {
  background: #F7F9FF;
  padding: 100px 0;
  overflow: hidden;
}
.site-testimonial-item {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in;
}
.site-testimonial-item.active {
  box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.05);
}
.site-testimonial-item.inactive {
  opacity: 0.4;
}
.site-testimonial-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.site-testimonial-item-header .thumb {
  width: 80px;
  margin-right: 15px;
}
.site-testimonial-item-header .thumb img {
  width: 100%;
}
.site-testimonial-item-header .person h5 {
  margin-bottom: 5px;
}
.site-testimonial-item-header .person p {
  margin-bottom: 0;
  color: #646569;
}
.site-testimonial-item-body {
  margin-bottom: 0;
  font-weight: 300;
}

.site-cta {
  padding: 130px 0;
  background-image: url("../images/backgrounds/cta-background.jpg");
  background-size: cover;
  background-position: center center;
}
@media (max-width: 991px) {
  .site-cta {
    padding: 100px 0;
  }
}
.site-cta-title {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .site-cta-title {
    letter-spacing: 5px;
  }
}
@media (max-width: 1200px) {
  .site-cta-title {
    font-size: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .site-cta-title {
    font-size: 40px;
    letter-spacing: 1;
  }
}
.site-cta-buttons {
  margin: 0;
  padding: 0;
}
.site-cta-buttons li {
  display: inline-block;
}
@media (max-width: 575px) {
  .site-cta-buttons li {
    display: block;
  }
}
.site-cta-buttons li:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 575px) {
  .site-cta-buttons li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .site-cta-buttons li .btn {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.site-about-header {
  padding-top: 80px;
  background-color: #F7F9FF;
}
@media (max-width: 575px) {
  .site-about-header {
    padding-top: 60px;
    text-align: center;
  }
}
.site-about-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-about-company {
  background: var(--dark-green);
  width: 40%;
  padding: 70px 38px;
}
@media (max-width: 991px) {
  .site-about-company {
    width: 100%;
    margin-bottom: 20px;
  }
}
.site-about-company h1 {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.site-about-description {
  width: 60%;
  padding-left: 50px;
}
@media (max-width: 991px) {
  .site-about-description {
    width: 100%;
    padding: 0 38px;
  }
}
.site-about-description p {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 0;
}

.site-expertise {
  padding: 100px 0;
  background: #F7F9FF;
}
.site-expertise-list {
  padding: 0;
  margin: 10px 0 0 20px;
}
@media (max-width: 575px) {
  .site-expertise-list {
    text-align: center;
    margin: 0;
  }
}
.site-expertise-list li {
  list-style: none;
  font-size: 25px;
  font-weight: 300;
  color: #00113E;
}
.site-expertise-list li:not(:last-child) {
  margin-bottom: 10px;
}

.site-client {
  padding: 100px 0 50px;
}
.site-client .section-title {
  margin-bottom: 100px;
}
.site-client-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .site-client-wrapper {
    justify-content: center;
  }
}
.site-client-item {
  text-align: center;
  width: 20%;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .site-client-item {
    width: 33.33%;
  }
}
@media (max-width: 575px) {
  .site-client-item {
    width: 50%;
  }
}

.site-team {
  padding: 100px 0;
}
.site-team-member {
  background: #F7F9FF;
  padding: 65px 30px 30px;
  margin: 50px 0 30px;
  position: relative;
}
@media (max-width: 767px) {
  .site-team-member {
    text-align: center;
  }
}
.site-team-member-image {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  left: 30px;
  top: 0;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .site-team-member-image {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.site-team-member-content h3 {
  font-size: 20px;
  color: var(--dark-green);
  margin-bottom: 10px;
  font-weight: 500;
}
.site-team-member-content p {
  font-size: 18px;
  color: #00113E;
  margin-bottom: 20px;
  font-weight: 300;
}
.site-team-member-social {
  margin: 0;
  padding: 0;
}
.site-team-member-social li {
  display: inline-block;
}
.site-team-member-social li a {
  color: #00113E;
}
.site-team-member-social li:not(:last-child) {
  margin-right: 10px;
}

.site-contact {
  padding: 150px 0 100px;
  background: #F7F9FF;
}
@media (max-width: 575px) {
  .site-contact {
    padding: 120px 0 100px;
  }
}
.site-contact-title {
  font-weight: 700;
}
@media (max-width: 767px) {
  .site-contact-title {
    font-size: 40px;
  }
}
.site-contact-title span {
  color: var(--dark-green);
}
.site-contact-form {
  margin-top: 20px;
}
.site-contact-form h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 50px;
  letter-spacing: 3px;
}
@media (max-width: 767px) {
  .site-contact-form h4 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .site-contact-form h4 {
    margin-bottom: 70px;
  }
}

.site-footer {
  background: var(--transparent-green);
  padding: 100px 0;
}
.site-footer-logo {
  margin-bottom: 50px;
}
.site-footer-logo-svg {
  max-width: 130px;
}
@media (max-width: 575px) {
  .site-footer-logo {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .site-footer-widget {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .site-footer-widget {
    text-align: center;
  }
}
.site-footer-widget-title {
  color: var(--dark);
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .site-footer-widget-title {
    margin-bottom: 20px;
  }
}
.site-footer-widget-description {
  color: var(--dark);
  line-height: 30px;
}
.site-footer-widget-description a {
  color: var(--dark);
  line-height: 45px;
}
.site-footer-widget-links {
  margin: 0;
  padding: 0;
}
.site-footer-widget-links li {
  list-style: none;
  height: 45px;
}
.site-footer-widget-links li a {
  color: var(--dark);
  transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
  display: block;
}
.site-footer-widget-links li:not(:last-child) a {
  padding-bottom: 9px;
}
@media (max-width: 575px) {
  .site-footer-widget-top {
    text-align: center;
    display: block;
  }
}
.site-footer-widget-top img {
  margin-bottom: 20px;
}
.site-footer-widget-top p {
  color: var(--dark);
}
.site-footer-widget-top:hover {
  text-decoration: none;
}
/*# sourceMappingURL=maps/style.css.map */
